/* MAIN PAGE CSS */
body {
	background-color: #444444;
	text-align: center;
	color: #DDD;
	font-family: Arial;
	margin: 0px;
}

#cr-stage {
	margin: auto 0;
}

.controls {
	color: #BBB;
}

.bottom {
	font-size: 12px;
	color: #888;
	margin-top: 50px;
}

.bottom a {
	color: #AAA;
}

/* TEST UI CSS */
h1.testUI {
	font-size: 24px;
	font-family: Arial;
	color: white;
	text-align: center;
}

p.testUI {
	font-size: 16px;
	font-family: Arial;
	color: white;
	text-align: left;
	padding-right: 150px;
	padding-left: 150px;
}

/* CONSOLE CSS */
div.console {
	background: black;
	float: left;
	position: relative;
	overflow-y: scroll;
	width: 30%;
	height: 100%;
}

p.console {
	color: #00FF00;	 		/* bright green */
	font-family: Courier;
	font-size: 16px;
	padding-right: 50px;
	padding-left:  50px;
	text-align: left;
}
